@import "mixin.scss";

@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2) {
  .border1px{
   &::after{
    transform: scaleY(.7);
   }
 }
}
@media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3) {
  .border1px{
   &::after{
    transform: scaleY(.5);
   }
 }
}
.pull_left{
	float: left;
}
.pull_right{
	float: right;
}
.clearfix{
	*zoom: 1;
	&::before,&::after{
		content: '';
		display: block;
	}
	&::after{
		clear:both;
	}
}